src/Chippyash/SAccounts/definitions/control-definition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="controls" type="controlsType"/>

    <xs:complexType name="controlsType">
        <xs:sequence>
            <xs:element type="controlType" name="control" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="controlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:token" name="name"/>
                <xs:attribute type="nominalType" name="id"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="nominalType">
        <xs:restriction base="xs:token">
            <xs:pattern value="[0-9]*"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>